@use 'base/variables' as v;

.site-footer {
    background-color: black;
    padding: 1rem;
    p{
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-size: 400;
    }

}

